html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    background: linear-gradient(#79B473, rgb(39, 58, 37))
}

div.content {
    width: 100%;
    max-width: 400px;
    height: 400px;
    background-color: #70A37F;
    font-family: monospace;
    padding: 10px;
    font-weight: bold;
    margin: -200px auto;
    top: 50%;
    color: #4C3957;
    text-align: center;
    position: relative;
    border-radius: 5px;
    border: 2px solid #414073;
}

label {
    display: inline-block;
    margin-top: 100px;
    font-size: 20px;
    background-color: #41658A;
    color: #79B473;
    padding: 14px;
    border-radius: 5px;
    border: 2px solid #414073;
    cursor: pointer;
}
input[type='file'] {
    display: none
}

i {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
}

div.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #78b372ad;
    display: none;
}

div.modal.visible {
    display: block;
}

.load3 {
    width: 100px;
    height: 100px;
    margin: -50px auto;
    top: 50%;
    position: relative;
    border-radius: 50px;
}

.load3 .ball {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    animation: 3s loadDelay steps(20) infinite;
    -webkit-animation: 3s loadDelay steps(20) infinite;
}
.load3 .ball::before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 8px;
    background-color: #41658A;
    border: 2px solid #414073;
}
.load3 .ball:nth-child(2) {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
    opacity: .75;
}
.load3 .ball:nth-child(3) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
    opacity: .5;
}
.load3 .ball:nth-child(4) {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
    opacity: .25;
}

@keyframes loadDelay {
    0% { 
        transform: rotate(0deg); 
    }
    40% {
        transform: rotate(180deg)
    }
    50% {
        transform: rotate(180deg)	
    }
    80% { 
        transform: rotate(360deg); 
    }
    100% { 
        transform: rotate(360deg); 
    }
}
@-webkit-keyframes loadDelay {
    0% { 
        -webkit-transform: rotate(0deg); 
    }
    35% {
        -webkit-transform: rotate(180deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    85% { 
        -webkit-transform: rotate(360deg); 
    }
    100% {
        -webkit-transform: rotate(360deg); 
    }
}